body {
   height: 100vh;
   @extend %SharpSansDispNo1-600;
   color: #181D19;
}
/* =============================*/
.lock{
   overflow: hidden;
}
.wrapper{
   min-height: 100%;
   // overflow: clip;
   display: flex;
   flex-direction: column;
}
.title{
   color: #151414;
   @extend %SharpSansDispNo1-600;
   font-size: 54px;
   font-weight: 770;
}
a{
   color: #181D19;
}
.main{
   flex: 1 1 auto;
   // padding-top: 100px;
   z-index: 0;
}
.container{
   max-width: 1470px;
   padding: 0 15px;
   margin: 0 auto;
}
a{
   text-decoration: none;
}
button{
   border: 0;
}