$default: #64BB47;
$hover: #5FB848;

%btn {
   @extend %SofiaSans-400;
   width: 160px;
   height: 54px;
   font-size: 20px;
   text-align: center;
   border-radius: 50px;
   color: #fff;
   background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
   border: none;
   cursor: pointer;
   transition: all .2s;
   &:hover {
      color: #111;
      background:linear-gradient(180deg, #E98A2C 0%, #DC6222 100%);
   }
}
%SharpSansDispNo1-500 {
   font-family: 'SharpSansDispNo1-Medium', sans-serif;
   font-weight: 500;
}
%SharpSansDispNo1-Book {
   font-family: 'SharpSansDispNo1-Book', sans-serif;
   font-weight: 750;
}
%SofiaSans-400 {
   font-family: 'SofiaSans-Regular', sans-serif;
   font-weight: 400;
}
%SharpSansDispNo1-700 {
   font-family: 'SofiaSans-Bold', sans-serif;
   font-weight: 700;
}
%SofiaSans-500 {
   font-family: 'SofiaSans-Medium', sans-serif;
   font-weight: 500;
}
%SharpSansDispNo1-600 {
   font-family: 'SharpSansDispNo1-Semibold', sans-serif;
   font-weight: 600;
}
