@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

//   =======   HEADER   =======
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   padding: 10px 0;
   background-color: #BEDA74;
   z-index: 100;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 70px;

   }
   &__left{
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 160px;
   }
   &__right{
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 30px;
   }
   &__logo {
      margin: 0 auto;
   }
   &__logo-svg {
      width: 94px;
      height: 39px;
   }
}
.menu {
   &__list {
      display: flex;
      align-items: start;
      column-gap: 40px;
   }
   &__link {
      color: #2C3847;
      font-size: 20px;
      @extend %SofiaSans-400;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
   &__btn{
      display: none;
   }
}
.user-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 20px;
   &__svg {
      width: 20px;
      height: 20px;
   }
   &__link{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__link--circle{
      content: '';
      position: absolute;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      top: -8px;
      right: -8px;
      background-color: #DC2825;
      color: #fff;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 100%;
      padding-top: 2px;   
   }
   &__cart-svg{
      width: 25px;
      height: 20px;
   }
   &__btn {
      @extend %btn;
      background: #494949;
      color: #fff;
   }
}

//   =======   TOP-INFO   =======
.top-info {
   &__wrapper {
      margin-left: 135px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 130px;
      padding-top: 74px;
   }
   &__info {
      max-width: 596px;
      color: #181D19;
   }
   &__title {
      font-size: 76px;
      @extend %SharpSansDispNo1-600;
      margin-bottom: 30px;
      animation-duration: 1.5s;
   }
   &__title-dekor {
      color: #5FB848;
   }
   &__text {
      @extend %SharpSansDispNo1-Book;
      font-size: 24px;
      margin-bottom: 50px;
      animation-delay: .4s;
   }
   &__btn {
      @extend %btn;
      animation-delay: .8s;
   }
   &__img-box {
      position: relative;
      animation-delay: 1s;
      &::after{
         content: '';
         position: absolute;
         background-image: url(../images/top-background-img.webp);
         width: 787px;
         height: 760px;
         top: 0;
         right: 5px;
         z-index: -100;
      }
   }
   &__img{
      transition: all .2s;
      animation-delay: .7s;
      animation-duration: 1.5s;
   }
}

//   =======   WHY-CHOOSES   =======
.whu-choose {
   &__title {
      text-align: center;
      margin-bottom: 15px;
   }
   &__subtitle {
      color: #3B433E;
      text-align: center;
      font-size: 24px;
      @extend %SharpSansDispNo1-500;
      margin-bottom: 60px;
      animation-delay: .4s;
   }
   &__items {
      display: flex;
      justify-content: center;
      column-gap: 100px;
      margin-bottom: 60px;
   }
   &__item {
      text-align: center;
      max-width: 270px;
      animation-delay: .8s;
   }
   &__img-box {
      margin-bottom: 35px;
   }
   &__img {
      margin: 0 auto;
   }
   &__item-subtitle {      
      font-size: 28px;
      margin-bottom: 20px;
   }
   &__text {
      font-size: 18px;
      line-height: 28px;
      @extend %SharpSansDispNo1-Book;
   }
   &__numbers {
      text-align: center;
      display: flex;
      justify-content: center;
      column-gap: 150px;
      margin-bottom: 170px;
   }
   &__numbers-item{
      animation-delay: 1.2s;
   }
   &__numbers-amount {
      color: #000;
      font-size: 44px;
      @extend %SharpSansDispNo1-700;
      margin-bottom: 20px;
   }
   &__numbers-descr {
      color: #545454;
      font-size: 20px;
      @extend %SharpSansDispNo1-500;
   }
}

//   =======   ABOUT US   =======
.about-us {
   &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 95px;
      margin-left: 135px;
      margin-bottom: 120px;
   }
   &__info {
      max-width: 500px;
   }
   &__title {
      margin-bottom: 20px;
   }
   &__text {
      font-size: 22px;
      line-height: 34px;
      @extend %SharpSansDispNo1-500;
      margin-bottom: 68px;
      animation-delay: .4s;
   }
   &__btn {
      @extend %btn;
      animation-delay: .8s;
   }
   &__images {
      column-count: 2;
      gap: 20px;
   }
   &__img {
      animation-delay: .8s;
      margin-bottom: 20px;
      position: relative;
      top: -50px;
      &:last-child{
         top: 0;
      }
   }
}

//   =======   FRESH VEGETABLES   =======
.fresh-vegetables {
   &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 70px;
      margin-bottom: 160px;
   }
   &__info {
      max-width: 514px;
   }
   &__title {
      margin-bottom: 20px;
   }
   &__text {
      margin-bottom: 40px;
      font-size: 22px;
      @extend %SharpSansDispNo1-500;
      line-height: 34px;
      animation-delay: .4s
   }
   &__btn {
      @extend %btn;
      animation-delay: .8s;
   }
   &__img{
      animation-delay: .8s;
   }
}

//   =======   COOKED BY   =======
.cooked-by {
   &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
      margin-bottom: 170px;
   }
   &__info {
      max-width: 500px;
   }
   &__title {
      margin-bottom: 30px;
      max-width: 370px;
   }
   &__text {
      @extend %SharpSansDispNo1-500;
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 30px;
      animation-delay: .4s;
   }
   &__item {
      margin-bottom: 20px;
      @extend %SharpSansDispNo1-500;
      padding-left: 37px;
      position: relative;
      animation-delay: .8s;
      &::before{
         content: '';
         position: absolute;
         width: 20px;
         height: 20px;
         left: 0;
         background-image: url(../images/cooked-by-arrow.svg);
      }
   }
   &__img-box {
      position: relative;
      animation-delay: .8s;
      &::after{
         content: '';
         position: absolute;
         width: 681px;
         height: 482px;
         background-image: url(../images/cooked-by-decor.avif);
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         top: 135px;
         left: 50px;
      }
   }
}

//   =======   ESPECIALLY FOR YOU   =======
.especially-for-you {
   &__wrapper {
      margin-bottom: 190px;
      text-align: center;
   }
   &__title {
      margin-bottom: 15px;
   }
   &__subtitle {
      color: #3B433E;
      font-size: 24px;
      @extend %SharpSansDispNo1-500;
      margin-bottom: 110px;
      animation-delay: .4s;
   }
   &__items {
      display: flex;
      justify-content: center;
      column-gap: 50px
   }
   &__item {
      animation-delay: .8s;
      padding: 50px 30px;
      margin-bottom: 60px;
      max-width: 356px;
      border-radius: 20px;
      border: 1px solid #EBEBEB;
      cursor: pointer;
      transition: all .2s;
      &:hover{
       box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px -50px 81px 0px #FFF;
       color: $hover;
      }
   }
   &__img-box {
      margin-bottom: 27px;
   }
   &__img {
      margin: 0 auto;
   }
   &__item-title {
      font-size: 30px;
      margin-bottom: 20px;
   }
   &__text {
      @extend %SharpSansDispNo1-500;
      max-width: 293px;
      font-size: 18px;
      line-height: 28px;
   }
   &__btn {
      @extend %btn;
      animation-delay: 1.2s;
   }
}

//   ======= HAPPY CLIENTS   =======
.happy-clients {
   &__wrapper {
      padding:0 193px;
      margin-bottom: 120px;
      background: #FCFCFC;
   }
   &__item {
      width: 514px;
      height: 347px;
      padding: 40px 30px 65px;
      border-radius: 8px;
      border: 2px solid #FFF;
      transition: all .2s;
      margin-right: 25px;
      margin-bottom: 145px;
      &:hover{
         box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px -50px 81px 0px #FFF;
        }
   }
   &__info {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 37px;
      margin-bottom: 32px;
   }
   &__img-box {
      width: 90px;
      height: 90px;
   }
   &__img {
      width: 90px;
      height: 90px;
   }
   &__name {
      color: #333;
      font-size: 20px;
      margin-bottom: 5px;
   }
   &__position {
      color: #888A9A;
      font-size: 14px;
      @extend %SharpSansDispNo1-500;
   }
   &__review {
      @extend %SharpSansDispNo1-500;
      font-size: 18px;
      line-height: 30px;
   }
   .slick-arrow{
      position: absolute;
      bottom: 15%;
      z-index: 100;
      cursor: pointer;
      border-radius: 50px;
      font-size: 0;
      width: 60px;
      height: 30px;
      background-color: #56B14A;
      transition: all .2s;
      &:hover{
         background-color: #DC6222;
      }
   }
   .slick-prev{
      left: 44%;
      background-image: url(../images/arrow-left-slider.svg);
      background-repeat: no-repeat;
      background-position: center center;
   }
   .slick-next{
      right: 44%;
      background-image: url(../images/arrow-right-slider.svg);
      background-repeat: no-repeat;
      background-position: center center;
   }
}

//   =======   SUBSCRIBE   =======
.subscribe {
   &__wrapper {
      padding: 120px 0 150px;
      text-align: center;
   }
   &__title {
      margin-bottom: 15px;
   }
   &__subtitle {
      color: #3B433E;
      font-size: 24px;
      @extend %SharpSansDispNo1-500;
      margin-bottom: 60px;
      animation-delay: .4s;

   }
   &__form{
      animation-delay: .8s;
   }
   &__inp {
      margin-right: 15px;
      width: 330px;
      height: 60px;
      border-radius: 165px;
      border: 1.5px solid #F5F5F5;
      background: #FFF;
      padding: 0 15px;
      &:focus-visible{
         &::placeholder{
            color: #56B14A;
         }
         outline: 0.5px solid #56B14A;
         border: none;
      }
   }
   &__btn {
      @extend %btn;
   }
}

//   =======   FOOTER   =======
.footer-top {
   background-color: #FCFCFC;
	&__wrapper {
      padding: 115px 165px 115px 176px;
      display: flex;
      justify-content: space-between;
      align-items: center;
	}
	&__left {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
	}
	&__logo {
      margin-bottom: 34px;
	}
	&__logo-svg {
      width: 94px;
      height: 39px;
	}
	&__text {
      max-width: 262px;
      color: #657582;
      font-size: 16px;
      @extend %SharpSansDispNo1-Book;
	}
	&__right {
      display: flex;
      justify-content: space-between;
      column-gap: 120px;
	}
	&__title {
      color:  #2C3847;
      @extend %SharpSansDispNo1-700;
      font-size: 22px;
      margin-bottom: 20px;
      pointer-events: none;
	}
   &__list{
      display: block;
   }
	&__item {
      margin-bottom: 12px;
	}
	&__link {
      color: #657582;
      font-size: 16px;
      @extend %SofiaSans-400 ;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
	}
}
.footer-bottom {
   background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
	&__wrapper {
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
	}
	&__copyright {
      color: #FFF;
      text-align: center;
      @extend %SharpSansDispNo1-Book;
      font-size: 16px;
	}
}
@import 'media';
