<footer class="footer" id="footer">
   <div class="footer-top">
      <div class="container">
         <div class="footer-top__wrapper">
            <div class="footer-top__left">
               <a class="footer-top__logo"href="#">
                  <svg class="footer-top__logo-svg">
                     <use xlink:href="images/sprite.svg#logo" width="94" height="39"></use>
                  </svg>
               </a>
               <p class="footer-top__text">On formed merits hunted unable merely by mr whence or. </p>
            </div>
            <div class="footer-top__right">
               <div class="footer-top__nav">
                  <h5 class="footer-top__title">Home</h5>
                  <ul class="footer-top__list">
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">Company</a>
                     </li>
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">News</a>
                     </li>
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">Team</a>
                     </li>
                  </ul>
               </div>
               <div class="footer-top__nav">
                  <h5 class="footer-top__title">About</h5>
                  <ul class="footer-top__list">
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">History</a>
                     </li>
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">Service</a>
                     </li>
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">Pricing</a>
                     </li>
                  </ul>
               </div>
               <div class="footer-top__nav">
                  <h5 class="footer-top__title">Partner</h5>
                  <ul class="footer-top__list">
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">Business</a>
                     </li>
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">Plan</a>
                     </li>
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">Marketing</a>
                     </li>
                  </ul>
               </div>
               <div class="footer-top__nav">
                  <h5 class="footer-top__title">Contact</h5>
                  <ul class="footer-top__list">
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">UI.desk</a>
                     </li>
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="tel:4659548487">(465)954-8487</a>
                     </li>
                     <li class="footer-top__item">
                        <a class="footer-top__link" href="#">Lahore, Pakistan</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-bottom">
      <div class="container">
         <div class="footer-bottom__wrapper">
            <p class="footer-bottom__copyright">© Copyright 2020 by ui.desk. All right reserved.</p>
         </div>
      </div>
   </div>
</footer>
<script src="js/main.min.js"></script>
</div>
</body>
</html>