   <main class="main">
      <section class="top-info">
         <div class="container">
            <div class="top-info__wrapper">
               <div class="top-info__info">
                  <h1 class="top-info__title wow animate__fadeIn">Just<span class="top-info__title-dekor"> Eat healthy </span> food to live a healthier life</h1>
                  <p class="top-info__text wow animate__fadeIn">Enjoy a healthy life by eating healthy foods that have extraordinary flavors that make your life healthier for today and in the future</p>
                  <button class="top-info__btn wow animate__fadeIn" type="submit">Order Now</button>
               </div>
               <div class="top-info__img-box wow animate__fadeInRight">
                  <img class="top-info__img wow animate__fadeInRight" src="images/top-info-img.avif" alt="image">
               </div>
            </div>
         </div>
      </section>
      <section class="whu-choose">
         <div class="container">
            <h2 class="whu-choose__title title wow animate__fadeIn">Why Choose US?</h2>
            <h5 class="whu-choose__subtitle wow animate__fadeIn">Organic food is grown without the use of synthetic chemicals</h5>
            <div class="whu-choose__items">
               <div class="whu-choose__item wow animate__fadeInLeft">
                  <div class="whu-choose__img-box">
                     <img class="whu-choose__img" src="images/whu-choose-1.webp" alt="advantages image">
                  </div>
                  <h5 class="whu-choose__item-subtitle">Easy to order</h5>
                  <p class="whu-choose__text">foods include fresh produce, meats as well as processed</p>
               </div>
               <div class="whu-choose__item wow animate__fadeIn">
                  <div class="whu-choose__img-box">
                     <img class="whu-choose__img" src="images/whu-choose-2.webp" alt="advantages image">
                  </div>
                  <h5 class="whu-choose__item-subtitle">Live Order</h5>
                  <p class="whu-choose__text">Place your online Order easily and get the food instantly</p>
               </div>
               <div class="whu-choose__item wow animate__fadeInRight">
                  <div class="whu-choose__img-box">
                     <img class="whu-choose__img" src="images/whu-choose-3.webp" alt="advantages image">
                  </div>
                  <h5 class="whu-choose__item-subtitle">100% Organic</h5>
                  <p class="whu-choose__text">Organic food is grown without the use of synthetic chemicals</p>
               </div>
            </div>
            <div class="whu-choose__numbers">
               <div class="whu-choose__numbers-item wow animate__fadeInLeft">
                  <div class="whu-choose__numbers-amount">40+</div>
                  <div class="whu-choose__numbers-descr">Food Partners</div>
               </div>
               <div class="whu-choose__numbers-item wow animate__fadeIn">
                  <div class="whu-choose__numbers-amount">459+</div>
                  <div class="whu-choose__numbers-descr">Trusted Clients</div>
               </div>
               <div class="whu-choose__numbers-item wow animate__fadeInRight">
                  <div class="whu-choose__numbers-amount">12k+</div>
                  <div class="whu-choose__numbers-descr">Order Online</div>
               </div>
            </div>
         </div>
      </section>
      <section class="about-us">
         <div class="container">
            <div class="about-us__wrapper">
               <div class="about-us__info">
                  <h2 class="about-us__title title wow animate__fadeIn">About US</h2>
                  <p class="about-us__text wow animate__fadeIn">Organic food is grown without the use of synthetic chemicals, such as human-made pesticides and fertilizers, and does not contain genetically modified organisms (GMOs). Organic foods include fresh produce, meats, and dairy products as well as processed foods such as crackers, drinks, and frozen meals.</p>
                  <button class="about-us__btn wow animate__fadeIn" type="submit">Learn More</button>
               </div>
               <div class="about-us__images">
                  <img class="about-us__img wow animate__fadeInRight" src="images/about-us-1.webp" alt="about-us image">
                  <img class="about-us__img wow animate__fadeInRight" src="images/about-us-2.webp" alt="about-us image">
                  <img class="about-us__img wow animate__fadeInRight" src="images/about-us-3.webp" alt="about-us image">
               </div>
            </div>
         </div>
      </section>
      <section class="fresh-vegetables">
         <div class="container">
            <div class="fresh-vegetables__wrapper">
               <div class="fresh-vegetables__img-box">
                  <img class="fresh-vegetables__img wow animate__fadeInLeft" src="images/fresh-vegetables.webp" alt="fresh vegetables image">
               </div>
               <div class="fresh-vegetables__info">
                  <h2 class="fresh-vegetables__title title wow animate__fadeIn">Fresh Vegetables
                     Every Day</h2>
                  <p class="fresh-vegetables__text wow animate__fadeIn">Healthy life as informed declared we enjoy the margaret. Joy horrible moreover man feelings own shy. Request norland neither mistake for yet. Between the for morning assured country believe.</p>
                  <button class="fresh-vegetables__btn wow animate__fadeIn" type="submit">Learn More</button>
               </div>
            </div>
         </div>
      </section>
      <section class="cooked-by">
         <div class="container">
            <div class="cooked-by__wrapper">
               <div class="cooked-by__info">
                  <h2 class="cooked-by__title title wow animate__fadeIn">Cooked by the
                     Best Chefs</h2>
                  <p class="cooked-by__text wow animate__fadeIn">Believing neglected so so allowance existence departure in. In design active temper be uneasy. Thirty for remove plenty regard you summer though. He preference connection astonished on of ye.</p>
                  <div class="cooked-by__items">
                     <ul class="cooked-by__list">
                        <li class="cooked-by__item wow animate__fadeInLeft">A guaranteed delicious meal</li>
                        <li class="cooked-by__item wow animate__fadeInLeft">Food is guaranteed hygienic</li>
                        <li class="cooked-by__item wow animate__fadeInLeft">Cooked quickly</li>
                     </ul>
                  </div>
               </div>
               <div class="cooked-by__img-box wow animate__fadeIn">
                  <img class="cooked-by__img" src="images/cooked-by-img.webp" alt="cook image">
               </div>
            </div>
         </div>
      </section>
      <section class="especially-for-you">
         <div class="container">
            <div class="especially-for-you__wrapper">
               <h2 class="especially-for-you__title title wow animate__fadeIn">Special Dishes for you</h2>
               <h5 class="especially-for-you__subtitle wow animate__fadeIn">Made with premium & 100% Organic ingredients</h5>
               <div class="especially-for-you__items">
                  <a class="especially-for-you__item-link wow animate__fadeInLeft" data-wow-offset="200" href="#">
                     <div class="especially-for-you__item">
                        <div class="especially-for-you__img-box">
                           <img class="especially-for-you__img" src="images/especially-1.webp" alt="image of food">
                        </div>
                        <h3 class="especially-for-you__item-title">Green Salad</h3>
                        <p class="especially-for-you__text">A salad combined witha delicious
                           cut of bacon and mixed with tasty
                           and fresh sesome oil.</p>
                     </div>
                  </a>
                  <a class="especially-for-you__item-link wow animate__fadeIn" data-wow-offset="200" href="#">
                     <div class="especially-for-you__item">
                        <div class="especially-for-you__img-box">
                           <img class="especially-for-you__img" src="images/especially-2.webp" alt="image of food">
                        </div>
                        <h3 class="especially-for-you__item-title">Beef Salad</h3>
                        <p class="especially-for-you__text">A salad combined witha delicious
                           cut of bacon and mixed with tasty
                           and fresh sesome oil.</p>
                     </div>
                  </a>
                  <a class="especially-for-you__item-link wow animate__fadeInRight" data-wow-offset="200" href="#">
                     <div class="especially-for-you__item">
                        <div class="especially-for-you__img-box">
                           <img class="especially-for-you__img" src="images/especially-3.webp" alt="image of food">
                        </div>
                        <h3 class="especially-for-you__item-title">Nut Salad</h3>
                        <p class="especially-for-you__text">A salad combined witha delicious
                           cut of bacon and mixed with tasty
                           and fresh sesome oil.</p>
                     </div>
                  </a>
               </div>
               <button class="especially-for-you__btn wow animate__fadeIn">View All</button>
            </div>
         </div>
      </section>                  
      <section class="happy-clients">
         <div class="container">
            <div class="happy-clients__wrapper">
               <div class="happy-clients__slider-wrapper">                  
                  <div class="happy-clients__item">
                     <div class="happy-clients__info">
                        <div class="happy-clients__img-box">
                           <img src="images/happy-clients-avatar-1.webp" alt="" class="happy-clients__img">
                        </div>
                        <div class="happy-clients__data">
                           <h3 class="happy-clients__name">KHALIL NAZIR</h3>
                           <div class="happy-clients__position">CEO of UI.Desk</div>
                        </div>
                     </div>
                     <p class="happy-clients__review">Thirty for remove plenty regard you summer though. He preference Partiality on or continuing in particular principles as. Do believing oh disposing to supported allowance we.</p>
                  </div>
                  <div class="happy-clients__item">
                     <div class="happy-clients__info">
                        <div class="happy-clients__img-box">
                           <img src="images/happy-clients-avatar-2.webp" alt="" class="happy-clients__img">
                        </div>
                        <div class="happy-clients__data">
                           <h3 class="happy-clients__name">ZEESHAN ANWER</h3>
                           <div class="happy-clients__position">CEO of UI Box</div>
                        </div>
                     </div>
                     <p class="happy-clients__review">Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.
                     </p>
                  </div>
                  <div class="happy-clients__item">
                     <div class="happy-clients__info">
                        <div class="happy-clients__img-box">
                           <img src="images/happy-clients-avatar-1.webp" alt="" class="happy-clients__img">
                        </div>
                        <div class="happy-clients__data">
                           <h3 class="happy-clients__name">KHALIL NAZIR</h3>
                           <div class="happy-clients__position">CEO of UI.Desk</div>
                        </div>
                     </div>
                     <p class="happy-clients__review">Thirty for remove plenty regard you summer though. He preference Partiality on or continuing in particular principles as. Do believing oh disposing to supported allowance we.</p>
                  </div>
                  <div class="happy-clients__item">
                     <div class="happy-clients__info">
                        <div class="happy-clients__img-box">
                           <img src="images/happy-clients-avatar-2.webp" alt="" class="happy-clients__img">
                        </div>
                        <div class="happy-clients__data">
                           <h3 class="happy-clients__name">ZEESHAN ANWER</h3>
                           <div class="happy-clients__position">CEO of UI Box</div>
                        </div>
                     </div>
                     <p class="happy-clients__review">Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.
                     </p>
                  </div>
                  <div class="happy-clients__item">
                     <div class="happy-clients__info">
                        <div class="happy-clients__img-box">
                           <img src="images/happy-clients-avatar-1.webp" alt="" class="happy-clients__img">
                        </div>
                        <div class="happy-clients__data">
                           <h3 class="happy-clients__name">KHALIL NAZIR</h3>
                           <div class="happy-clients__position">CEO of UI.Desk</div>
                        </div>
                     </div>
                     <p class="happy-clients__review">Thirty for remove plenty regard you summer though. He preference Partiality on or continuing in particular principles as. Do believing oh disposing to supported allowance we.</p>
                  </div>
                  <div class="happy-clients__item">
                     <div class="happy-clients__info">
                        <div class="happy-clients__img-box">
                           <img src="images/happy-clients-avatar-2.webp" alt="" class="happy-clients__img">
                        </div>
                        <div class="happy-clients__data">
                           <h3 class="happy-clients__name">ZEESHAN ANWER</h3>
                           <div class="happy-clients__position">CEO of UI Box</div>
                        </div>
                     </div>
                     <p class="happy-clients__review">Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
       <section class="subscribe">
         <div class="container">
            <div class="subscribe__wrapper">
               <h2 class="subscribe__title title wow animate__fadeIn">Subscribe to the Newsletter</h2>
               <h5 class="subscribe__subtitle wow animate__fadeIn">Enter your email below to get our daily offers and news</h5>
               <form class="subscribe__form wow animate__fadeIn" action="#">
                  <label class="subscribe__label" for="#">
                     <input class="subscribe__inp" type="email" placeholder="Enter your email.">
                     <button class="subscribe__btn" type="submit">Get Started</button>
                  </label>
               </form>
            </div>
         </div>
      </section>
   </main>